* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:dodgerblue;
    font-family: Arial, Helvetica, sans-serif;
    background-color:lavender;
}

header {
    color:lavender;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: dodgerblue;
    padding: 25px 35px;
}

header h1 {
    color: dodgerblue;
    background-color: lavender;
    font-weight: bold;
    font-size:40px;
    display: inline;
}

header nav {
    float: right;
    margin: 6px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 20px;
    font-size:larger;
}

header h2 {
    margin: 30px;
    display: inline;
}

section {
    padding: 30px;
}
.section-title {
    font-size:40px;
    display: inline;
    border-right: 10px solid;
    margin: 15px;
}

.primary-border {
    border-color: rgb(22, 22, 77);
    border-spacing: 5px;
    border-width: 3px;
}

.welcome {
    background-image: url("./assets/images/nightsky.jpeg");
    height: 150px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.welcome h2 {
    font-size: 30px;
    float: right;
    margin: 20px;
}

.intro p {
    display: inline-block;
    margin: 0 10px;
}

.contact a {
    margin: 0 20px;
    float: right;
    font-size:larger;
}

.projects run-buddy {
    background-image: url("./assets/images/hero-bg.jpeg");
    height: 200px;
    background-size: cover;
}